<!DOCTYPE html>
<html lang="de">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>FiMyPro - Find my product!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/img/logo.jpg">
 <script>
      function init() {
   //showMessage = true if a store was not found
   var showMessage = {{message}}
    if (showMessage){
    window.alert("kein Geschäft in der Nähe!");
   }
      }
</script>
</head>
<body onpageshow="init();">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class=Header>
    <div class="row">
        <div class="three columns">
  <img src="../static/img/logo.jpg" alt="FiMyPro Logo" height=150 wweight=150></img>
    </div>
      <div class="four columns">
         <h1>FiMyPro</h1>
         <h5>Find my product!</h5>
        </div>

    </div>
  </div>
 <!-- The above form looks like this -->
<form method=post>
  <div class="row">


    <div class="seven columns">
      <label for="exampleRequestInput">Suche nach:</label>
      <fieldset>
      <input type="radio" name=isRecipe value="NE" checked>Produkt</input>
      <input type="radio" name=isRecipe value="EQ">Zutatenliste eines Rezepts von Chefkoch</input>
    </fieldset>
      <input class="u-full-width" type="text" placeholder="z. B. Apfelessig" name="inputSearchRequest">
      <input class="button-primary" type="submit" name="searchButton" value="Suche"></input>
    </div>
  </div>
  <h5>Filter:</h5>
  <label class="Filter-options-plastic">
    <input type="checkbox" name=isPlastic checked>
    <span class="label-body">ohne Plastikverpackung</span>
  </label>
    <label for="FilterCat1">Welcher Inhaltsstoff ist verboten?</label>
  <label class="Filter-options-ingredients">
    <input type="search" name=ingredientFilter></input>
  </label>
  <label for="FilterCat2">Marke?</label>
  <label class="Filter-options-brands">
    <fieldset>
      <input type="radio" name=inExclude value="NE" checked>ausschließen</input>
      <input type="radio" name=inExclude value="EQ">suchen</input>
    </fieldset>
    <input type="search" name=branchFilter></input>
  </label>
</form>

<!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

<!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
